<% @page_title = 'Administrateur Menu' %>
<ul class="menu">
	<li><%= link_to('Gerer les Posts', :controller => 'posts') %></li>
	<li><%= link_to('Gerer les Categories', :controller => 'categories') %></li>
	<li><%= link_to('Gerer les Commentaires', :controller => 'pomments')%></li>
	<li><%= link_to('Gerer les Utilisateurs', :controller => 'users')%></li>
	<li><%= link_to('Déconnexion', :controller => 'logout') %></li>
</ul>